
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FMITAD</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<!-- Main bit of nav bar (shown to all) -->
			<ul class="nav navbar-nav">
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
			</ul>

			<!-- User specific navbar -->
			<% if (typeof user == 'undefined') { %>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Not logged in! -->
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login_m">Login</a>
                    </li>
                </ul>
            <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Logged in! -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.username %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
							<!-- This long link sends the user to Github and starts to create a new issue, giving them a template to work off (if they choose) -->
                            <li><a href="https://github.com/TGRHavoc/FMITAD/issues/new?title=Issue+from+<%= user.username %>&body=Id:+<%= user.id %>%0AComment:+Please+enter+your+issue+here">Feedback/Bug report</a></li>
                            <li><a href="#">Support</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </li>
					<% if (user.isAdmin) { %>
						<!-- Display Admin-Only content here (e.g. /admin ?) -->
					<% } %>
					<% if (user.isAdmin || user.isMod) { %>
						<!-- Display moderator content here -->
					<% } %>
                </ul>
            <% } %>
			<!-- End of User specific navbar -->

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div id="login_m" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title" id="myModalLabel2">Please Sign In</h2>
            </div>
            <div class="modal-body">
                <!--<hr class="colorgraph" />-->
                <form role="form" method="post" action="/login">
                    <fieldset>
                        <div class="form-group">
                            <input type="email" name="email" id="username" class="form-control input-lg" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                        </div>
                        <!--<hr class="colorgraph">-->
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
