<!DOCTYPE html>
<html lang="en">
    <head>
		<% title="Events" %>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/header %>

        <!-- Page Content -->
        <div class="container">
			<div class="jumbotron">
				<h2>Events.</h2>
				<h4>You can search using the event ID given by the Streamer or, the Streamers username.</h4>
			</div>

			<div class="panel-group row" id="user-panels">

			</div>

			<!--	TEMPLATE FOR PANELS
			<div class="col-xs-6 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Graph</h3>
					</div>
					<div class="panel-body">
						<img src="http://dummyimage.com/600x500/000/fff&amp;text=Graph" class="img-responsive">
					</div>
				</div>
			</div>
			-->



        </div>
        <!-- /.container -->

        <% include ../../partials/footer %>

		<script>
		var lastCreated = "";
		var panelEle = $("div#user-panels");
		panelEle.empty();

		$(document).ready(function(){
			$(window).scroll(function() {
				if ($(window).scrollTop() + $(window).height() == $(document).height() ) {
					/*
						TODO: When reach the bottom of the loaded page,
						load more events.. via the /api/events end-point
					*/
					loadMoreEvents();
				}
			});


			loadMoreEvents();

		});

		function loadMoreEvents() {
			console.log("Loading events..");
			$.get("/api/events/all?lastCreated=" + lastCreated, function(data, status){
				console.log("Got some?: " + JSON.stringify(data));
				if (data.events.length <= 0 || data.error){
					alert("No events found");
					if(data.error)
						alert("Error:" + data.error);
					return;
				}

				for(var i = 0; i < data.events.length; i++){

					var d = data.events[i];
					panelEle.append(getHtml(d));

					if (i == data.events.length -1){
						lastCreated = d.created_at;
						console.log("Set last created; " + lastCreated);
					}
				}

			} );
		}

		function getHtml( data ){
			return '<div class="col-xs-6 col-sm-4">'
					+ '<div class="panel panel-default">'
					+ '<div class="panel-heading">'
					+	'<h3 class="panel-title">' + data.details.title + '</h3></div>'
					+ '<div class="panel-body">'
						+ '<p>ID: ' + data.id + "</p>"
						+ '<p>Owner: ' + data.owner + "</p>"
						+ '<p>Platform: ' + data.platform + "</p>"
						+ '<p>Type: ' + data.type + "</p>"
						+ '<p>created_at: ' + data.created_at + "</p>"
					+'</div></div></div>'
		}
		</script>
        <!-- /.container -->
    </body>
</html>
